<% @title = 'Lyrics' %>

<div id="lyrics">
  <p>
    Here's all the lyrics to our songs by album. Dig in to each song for videos, shows they were played at, and more!
  </p>

  <%= render partial: 'album', collection: @albums %>
</div>
