<% @title = "News" %>
<% @wrapper_class = "fb-wrapper" %>

<div class="fb-container">
  <div class="fb-page" data-href="https://www.facebook.com/AqueousBand/" data-tabs="timeline,events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-width="500" data-height="2500"><blockquote cite="https://www.facebook.com/AqueousBand/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AqueousBand/">Loading news...</a></blockquote></div>
</div>
