<% @title = "Latest shows" %>

<% content_for :top do %>
  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><%= image_tag "logo.png" %></a>
      <div class="hero-copy">
        <h1>AqueousBand.net</h1>
        <p>Tracking setlists, shows, and more for <a href="http://aqueousband.com">Aqueous</a> fans.</p>
      </div>
    </div>
  </div>
<% end %>

<%= render @shows %>
