<%= cache song do %>
  <p>
    <div class="spark" id="spark_<%= dom_id(song) %>"></div>
    <%= link_to song.name, song, id: dom_id(song), :'data-performed-show-ids' => song.show_ids.to_json %>
  </p>
<% end %>
