<% @title = @playlist.title %>

<% content_for :top do %>
  <nav>
    <div class="button-group">
      <%= playlist_buttons_for(@playlist) %>
    </div>
  </nav>
<% end %>

<div id="songs" data-show-ids="<%= @show_ids.to_json %>">
  <% if @playlist.template %>
    <%= render @playlist.template, songs: @playlist.songs %>
  <% else %>
    <%= render @playlist.songs %>
  <% end %>
</div>
