<article class="type-system-sans">
  <p class="type"><%= @song.name %></p>

  <% @song.slots.each do |slot| %>
    <h2><%= link_to slot.show.when, slot.show %></h2>
    <h3><%= slot.show.venue.name %>, <%= slot.show.venue.location %></h3>
    <hr />
  <% end %>
</article>
