<article class="type-system-sans">
<header>
  <h1>about the band</h1>
</header>

<section>
  <p>
    <%= image_tag "band.png" %>
  </p>
  <p>
    Tearing out of Buffalo NY, rock/groove powerhouse Aqueous has built a name for themselves nationally, following years of touring and high profile sets at festivals like Summer Camp, Peach Festival, Moe.Down, Catskill Chill, The Frendly Gathering, and countless others. Aqueous has built a reputation for bringing high energy and tireless effort to their craft, and fans rave about the uniqueness and power behind every performance. Featured as one of Relix Magazine's "On The Verge" artists, there seems no limit to the quartet's journey to the top.
  </p>

  <p>
    With three studio albums under their belts, and their critically acclaimed live collection "Live Nugs", Aqueous is as strong in composing as they are at communicating and improvising during their shows. Their onstage persona is infectious and undeniable; their lifelong friendship stands as a testament to the tightness of the music. While the band is relatively young, they are polished - check them out as soon as you can, and discover firsthand what the buzz is all about.
  </p>
</section>
</article>
