<article class="type-system-sans">
<header>
  <h1>about the band</h1>
</header>

<section id="about">
  <p>
    <%= image_tag "photos/presspic.png" %>
  </p>
  <p>
    Tearing out of Buffalo NY, rock/groove powerhouse Aqueous has built a name for themselves nationally, following years of touring and high profile sets at festivals like Summer Camp, Peach Festival, Moe.Down, Catskill Chill, The Frendly Gathering, and countless others. Aqueous has built a reputation for bringing high energy and tireless effort to their craft, and fans rave about the uniqueness and power behind every performance. Featured as one of Relix Magazine's "On The Verge" artists, there seems no limit to the quartet's journey to the top.
  </p>

  <p>
    With three studio albums under their belts, and their critically acclaimed live collection "Live Nugs", Aqueous is as strong in composing as they are at communicating and improvising during their shows. Their onstage persona is infectious and undeniable; their lifelong friendship stands as a testament to the tightness of the music. While the band is relatively young, they are polished - check them out as soon as you can, and discover firsthand what the buzz is all about.
  </p>
</section>
<section id="bios">
  <h2>Bios</h2>

  <h3>Mike Gantzer</h3>
  <p id="mike">
    Deep in the caverns of the West Indies alongside the Isle of Righteousness is where coal miners accidently stumbled upon a new mineral that has captivated headlines worldwide. While in search for salty potash, the miners came across a space cluttered with khakis and walls of a purple tint. Beside squashed eight-legged deep cavern creatures they found a substance hunched over a bright light. Soon after they discovered "Mike" (the best name they came up with at the time), they found that he is rich in minerals that dictate rhythmic and melodic extraction while improvising lines that even Beethoven forgot about! It is believed that Mike is a mineral that has never been discovered before. When Mike Gantzer is fused with the precise sine waves created by Dave, Evan, and Ryan there is an alignment of the homo sapien ear canal that makes humans sell their soul to the groove.
  </p>

  <h3>Dave Loss</h3>
  <p id="dave">
    A "Dave Loss" is a one-of-a-kind complex organism most commonly tracked in the North East region of North America. Rare for complex organisms, Dave was created through spontanueous genreration. The modern day version of Dave Loss, or "Project I7-A942" comes with 6 strings that ring in perfect harmony upon struming. In addition to the 6 strings, researchers have discovered a bionic vocal range that can hit pitches even the kanine cannot register. Though Dave is rare, chemistry professor Dr. Unkridge at Princeton University claims "it won't be uncommon to see new forms of Project I7-A942 sprouting up within the next 5 years."
  </p>

  <h3>Evan McPhaden</h3>
  <p id="evan">
    A gooey struggle, a crack, and a battle screech are three precise concepts to understand the initial moments of Evan McPhaden's life here on Terra Firma. Evan hatched from an egg early due to an overzealous amount of 60Hz rumble. A shimmey-shake and a runaway, he spread his wings and took off far away to meet the others on the mast of a fisherman's boat at sea. In the crow's nest is where he found his passion for plucking away at his 5 thick strings that can loosen the jaw of any Loch Ness monster. Within the past decade Evan has grown into something really special. A feather from Evan is worth unspeakable amounts in the Chinese black market.
  </p>

  <h3>Ryan Nogle</h3>
  <p id="ryan">
    Ryan is so new to the band that he doesn't have a bio yet. Did you know that Neal Peart tried out for Rush after their original drummer quit the band? Can you even imagine Geddy Lee and Alex Lifeson having tryouts for their band? And letting some guy from a farm in St. Catherines try out? He also didn't use to have a million pieces in his set. And he had a mullet. It's a fairly well known fact that mostly everyone from Canada had a mullet in the 80s. Anyway, Ryan is the new drummer for Aqueous.
  </p>
</section>
</article>
