<% @title = "Street Team" %>

<% content_for :head do %>
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    footer #mc_embed_signup { display: none };
  </style>
<% end %>

<section>
  <iframe src="https://docs.google.com/forms/d/1fY8vGNHsogsdGoUcNpF_s86CqnG1jLJ85qLzZtpezL8/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

  <p style="text-align:center;">
    Email Liz at <%= link_to "aqueouspromotions@gmail.com", "mailto:aqueouspromotions@gmail.com" %> with any questions or comments.
  </p>
</section>
