<% @title = "Street Team" %>

<section>
  <p>
    <%= image_tag "photos/presspic.png" %>
  </p>

  <h2>
    Join the Aqueous Street Team to help us spread the word! 
  </h2>

  <p>
    We utilize our street team to help with hanging posters, handing out handbills, and just good old word of mouth. We hope to have you on-board, where your efforts will be rewarded with AQ perks!
  </p>

  <p>
    Email Carolyn at carolyn@bluestreamproductions.com with any questions or comments.
  </p>

  <!--
  <h2>
    Street Team Sign Up
  </h2>
  -->
</section>
