<% @title = "Music" %>

<%= content_for :head do %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<% end %>

<div id="sonic" class="banner">
  <%= link_to "Get our latest audio downloads from Fall Tour at Sonic Farm ➞", "http://sonicfarmstudio.com/aqueous/" %>
</div>

<h2>our latest</h2>

<section id="music" class="left">
  <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=3832919194/size=large/bgcol=ffffff/linkcol=FA6900/transparent=true/tracklist=true/" seamless><a href="http://aqueous1.bandcamp.com/album/cycles">Cycles by Aqueous</a></iframe>

</section>

<section id="watch" class="right">
  <iframe id="youtube" width="100%" src="https://www.youtube.com/embed/wXRooJDfUoU" frameborder="0" allowfullscreen></iframe>
</section>

<h2>live releases</h2>
<section class="archive">
  <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=128572524/size=large/bgcol=ffffff/linkcol=FA6900/transparent=true/minimal=true/" seamless><a href="http://aqueous1.bandcamp.com/album/live-at-nectars-burlington-vt-32815">Live at Nectar&#39;s - Burlington, VT - 3.28.15 by Aqueous</a></iframe>

  <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=3919290633/size=large/bgcol=ffffff/linkcol=FA6900/transparent=true/minimal=true/" seamless><a href="http://aqueous1.bandcamp.com/album/live-at-scarlet-grey-columbus-oh-111514">Live at Scarlet &amp; Grey - Columbus, OH - 11.15.14 by Aqueous</a></iframe>

  <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=2787150544/size=large/bgcol=ffffff/linkcol=FA6900/transparent=true/minimal=true/" seamless><a href="http://aqueous1.bandcamp.com/album/live-at-nectars-burlington-vt-110814">Live at Nectars - Burlington, VT - 11.08.14 by Aqueous</a></iframe>
</section>

<h2>the archive</h2>
<section class="archive">
  <h3>2013</h3>
  <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=1595375018/size=large/bgcol=ffffff/linkcol=FA6900/transparent=true/minimal=true/" seamless><a href="http://aqueous1.bandcamp.com/album/live-nugs-v-4">Live Nugs v.4 by Aqueous</a></iframe>

  <h3>2012</h3>
  <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=3634413396/size=large/bgcol=ffffff/linkcol=FA6900/transparent=true/minimal=true/" seamless><a href="http://aqueous1.bandcamp.com/album/willy-is-40">Willy is 40 by Aqueous</a></iframe>

  <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=1111648286/size=large/bgcol=ffffff/linkcol=FA6900/transparent=true/minimal=true/" seamless><a href="http://aqueous1.bandcamp.com/album/live-nugs-v-3">Live Nugs v.3 by Aqueous</a></iframe>

  <h3>2011</h3>
  <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=2095806046/size=large/bgcol=ffffff/linkcol=FA6900/transparent=true/minimal=true/" seamless><a href="http://aqueous1.bandcamp.com/album/giant-something">Giant Something by Aqueous</a></iframe>

  <h3>2009</h3>
  <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/album=2291752807/size=large/bgcol=ffffff/linkcol=FA6900/transparent=true/minimal=true/" seamless><a href="http://aqueous1.bandcamp.com/album/aqueous">Aqueous by Aqueous</a></iframe>
</section>
