<% @title = musicpage.title %>

<h2>our latest</h2>

<section id="music" class="left">
  <%== musicpage.latest_album %>
</section>

<section id="watch" class="right">
  <%== musicpage.latest_video %>
</section>

<h2>the archive</h2>
<section class="archive">
  <%== musicpage.archive %>
</section>
