<% @title = "Music" %>

<article>
  <div id="studio">
    <h5>Studio</h5>

    <dl>
      <dt id="song1"><a href="#" data-song="1" data-behavior="play" data-media-url="http://files.aqueousband.net/sampler/2015/01+-+Studio+-+Skyway.mp3">Skyway</a></dt>
      <dd>8:48</dd>
      <dt id="song2"><a href="#" data-song="2" data-behavior="play" data-media-url="http://files.aqueousband.net/sampler/2015/02+-+Studio+-+The+Median.mp3">The Median</a></dt>
      <dd>6:42</dd>
      <dt id="song3"><a href="#" data-song="3" data-behavior="play" data-media-url="http://files.aqueousband.net/sampler/2015/03+-+Studio+-+Complex+Pt+II.mp3">Complex Pt. II</a></dt>
      <dd>9:05</dd>
      <dt id="song4"><a href="#" data-song="4" data-behavior="play" data-media-url="http://files.aqueousband.net/sampler/2015/04+-+Studio+-+Origami.mp3">Origami</a></dt>
      <dd>10:16</dd>
      <dt id="song5"><a href="#" data-song="5" data-behavior="play" data-media-url="http://files.aqueousband.net/sampler/2015/05+-+Studio+-+Staring+Into+The+Sun.mp3">Staring into the Sun</a></dt>
      <dd>15:02</dd>
    </dl>
  </div>
</article>

