<% @title = Musicpage.instance.title %>

<h2>our latest</h2>

<section id="music" class="left">
  <%== Musicpage.instance.latest_album %>
</section>

<section id="watch" class="right">
  <%== Musicpage.instance.latest_video %>
</section>

<h2>the archive</h2>
<section class="archive">
  <%== Musicpage.instance.archive %>
</section>
