<% @title = "Music" %>

<section id="music">
  <h2>2014</h2>
  <iframe style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=3832919194/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/cycles">Cycles by Aqueous</a></iframe>

  <iframe style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=3919290633/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/cycles">Live at Scarlet &amp; Grey - Columbus, OH - 11.15.14 by Aqueous</a></iframe>

  <iframe style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=2787150544/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/cycles">Live at Nectars - Burlington, VT - 11.08.14 by Aqueous</a></iframe>

  <h2>2013</h2>
  <iframe style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=1595375018/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/live-nugs-v-4">Live Nugs v.4 by Aqueous</a></iframe>

  <h2>2012</h2>
  <iframe style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=3634413396/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/willy-is-40">Willy is 40 by Aqueous</a></iframe>

  <iframe style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=1111648286/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/live-nugs-v-3">Live Nugs v.3 by Aqueous</a></iframe>

  <h2>2011</h2>
  <iframe style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=2095806046/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/giant-something">Giant Something by Aqueous</a></iframe>

  <h2>2009</h2>
  <iframe style="border: 0;" src="http://bandcamp.com/EmbeddedPlayer/album=2291752807/size=large/bgcol=ffffff/linkcol=FA6900/artwork=small/transparent=true/" seamless><a href="http://aqueous1.bandcamp.com/album/aqueous">Aqueous by Aqueous</a></iframe>
</section>
