<% @title = "Taping Policy" %>

<section>
  <h2>Can I set my mics up?</h2>
  <p>
    Absolutely! We encourage it. All we ask it that you're courteous to other concert-goers, but we're sure you're already aware of that! 
  </p>

  <h2>What can I, and can't I do with my recordings?</h2>
  <p>
    Well, you can pretty much do anything you want with the recordings except for the obvious stuff, like selling our music to Hollywood producers... because we wouldn't do that either. But what we do want you to do, is spread it to all of your friends, put it on <%= link_to "archive.org", "https://archive.org/details/Aqueous" %>, spread it throughout the grateful community, whatever you want! :)
  </p>

  <h2>Should I give the recordings to my friends?</h2>
  <p>
    Again...YES! Yes please!
  </p>

  <h2>I have more questions that aren't on here!</h2>
  <p>
    We'd love to help you out, shoot us an e-mail at <%= mail_to "aqueousband@gmail.com", "aqueousband@gmail.com" %>.
  </p>
</section>
