<% @title = "Video Test" %>
<% @hide_search = true %>

<video poster="" id="bgvid" playsinline autoplay muted loop>
  <!-- 
- Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<!-- <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm"> -->
<source src="https://s3.amazonaws.com/files.aqueousband.net/videos/nye2018.mp4" type="video/mp4">

</video>

<header>
  <ul id="navigation-menu">
    <%= nav_menu %>
  </ul>
</header>

<h1>Aqueous</h1>
