<% @title = "All venues" %>

<p>
  Performed at <em><%= pluralize Venue.count, "venues" %></em> since 2006.
</p>

<% @venues_by_first_letter.each do |first_letter, venues| %>
  <h2><%= first_letter %></h2>
  <%= render venues %>
  <hr />
<% end %>
