<article class="type-system-sans">
  <p class="type">All venues</p>

  <p>
    Performed at <em><%= pluralize Venue.count, "venues" %></em> since 2006.
    <%= link_to "Add a new venue.", new_venue_path %>
  </p>

  <% @venues_by_first_letter.each do |first_letter, venues| %>
    <h2><%= first_letter %></h2>
    <% venues.each do |venue| %>
      <p>
        <%= link_to venue.name, venue %>
      </p>
    <% end %>
    <hr />
  <% end %>
</article>
