<% @title = @venue.name %>

<p>
  Performed at <em><%= pluralize @venue.shows.size, "time" %></em>.
  Appeared at this venue for <em><%= number_to_percentage @venue.shows_percentage, precision: 1 %></em> of all shows.
</p>

<% @venue.shows.performed.each do |show| %>
  <%= render show %>
<% end %>
