footer {
  aside {
    font-size: 10px;
    text-align: center;
  }

  p a {
    background: asset-url("logo_black.png") no-repeat center;
    background-size: contain;
    text-align: center;
    height: 75px;
    opacity: 0.1;
    margin: 1.5em auto;
    display: block;

    &:hover {
      opacity: 0.4;
    }
  }

  ul {
    text-align: center;

    li {
      text-transform: lowercase;
      font-size: 14px;
      padding: 9px;
      display: inline-block;
      opacity: 0.8;

      a {
        font-weight: 700;
        font-size: 130%;
        color: $black !important;
        &:hover {
          border-bottom: 3px solid $black;
        }
      }
    }
  }

  #mc_embed_signup {
    text-align: center;
    margin-bottom: 0.75em;

    input[type=email] {
      display: inline-block;
      @include media($large-screen) {
        width: 279px;
      }
    }
    input[type=submit] {
      @include button(simple, rgba(94, 201, 185, 1.0));
      margin-top: -4px;
      height: 36px;
    }
  }

  .admin {
    background-color: darken(#f6edf1, 5%);
  }
}
