footer {
  aside {
    font-size: 10px;
    text-align: center;
  }

  p a {
    background: asset-url("logo_black.png") no-repeat center;
    background-size: contain;
    text-align: center;
    height: 50px;
    opacity: 0.1;
    margin: 2em auto;
    display: block;

    &:hover {
      opacity: 0.4;
    }
  }

  ul {
    text-align: center;

    li {
      text-transform: lowercase;
      font-size: 14px;
      padding: 9px;
      display: inline-block;
      opacity: 0.8;

      a {
        font-weight: 700;
        font-size: 130%;
        color: $black !important;
        &:hover {
          border-bottom: 3px solid $black;
        }
      }
    }
  }
}

