pre {
  background-color: #ccc;
  font-family: "Monaco", "Courier New", monospace;
  padding: 10px;
}

form {
  textarea {
    height: 300px;
  }

  .checkbox_label {
    display: inline-block;
  }

  input[type='file'] {
    display: block;
    margin-bottom: 15px;
  }

  input[type='submit'] {
    margin-top: 3px;
    display: block;
  }

  #show_embeds {
    height: 100px;
  }
}

#errorExplanation {
  @include flash($error-color);
  font-size: 80%;
}

form[accept-charset] {
  margin-bottom: 1em;

  input[type='submit'] {
    @include button(simple, rgba(94, 201, 185, 1.0));
    font-size: 20px;
  }
}

form.search-big {
  label {
    display: inline-block;
    margin-right: 5px;
  }
  input {
    display: inline-block;
    @include media($large-screen) {
      width: 400px;
    }
  }
}
