form {
  textarea {
    height: 300px;
  }

  .checkbox_label {
    display: inline-block;
  }

  input[type='submit'] {
    margin-top: 3px;
    display: block;
  }
}

#errorExplanation {
  @include flash($error-color);
  font-size: 80%;
}

form.search-big {
  label {
    display: inline-block;
    margin-right: 5px;
  }
  input {
    display: inline-block;
    @include media($large-screen) {
      width: 400px;
    }
  }
}
