$link-color: #CC2A41;
$white: rgba(255, 255, 255, 0.9);
$black: rgba(0, 0, 0, 0.75);
$body-background: #E6E6E6;
$banner-background: #E6E6E6;
$logo-background: #777;
$search-background: darken($logo-background, 10%);
$max-width: 60em;
$sans-serif: 'Oxygen', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$theme-background-image: "papyrus.png";
$theme-setlist-song-color: #424254;
$theme-setlist-cover-color: #64908A;