.hero {
  $hero-background: #3B8E94;
  $hero-color: white;

  background: image-url("band.png");
  background-color: $hero-background;
  background-repeat: no-repeat;

  background-size: cover;

  .hero-logo img {
    height: 3em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 1em;
    margin: auto;
    margin-bottom: 0.5em;
    text-align: center;
    color: $hero-color;

    button {
      @include button(simple, $base-accent-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.4em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        margin: auto;
        font-weight: 200;

        @include media($large-screen) {
          font-size: 1.2em;
        }

        a, a:visited {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
  }
}

