body.home-index {
  h1 {
    display: none;
  }

  .latest {
    font-size: 80%;
    padding-right: 16px;
    @include media($medium-screen) {
      float: left;
      width: 300px;
    }
  }

  .taped {
    font-size: 80%;
    @include media($medium-screen) {
      float: right;
      width: 300px;
    }

    iframe {
      width: 100% !important;
      max-height: 250px !important;
    }
  }
}

$max-width: 60em;

body.home-show {
  #wrapper {
    max-width: $max-width;
  }

  @include media($large-screen) {
    header.navigation .logo {
      display: none;
    }
  }

  h1 {
    background: asset-url("biglogo_white@2x.png") no-repeat 50% 50%;
    text-indent: -9999px;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0;

    background-size: contain;
    min-height: 75px;

    @include media($medium-screen) {
      background-size: contain;
      height: 125px;
    }
  }

  h2 {
    text-transform: lowercase;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-weight: 700;

    @include media($medium-screen) {
      font-size: 35px;
    }
  }

  article {
    @include outer-container;

    @include media($large-screen) {
      padding-top: 230px;
    }

    @include media($medium-screen) {
      section.left {
        @include span-columns(5);
      }

      section.right {
        @include span-columns(7);
        @include omega();
      }
    }

    header {
      padding: 1px 16px 16px 16px;
      background: rgba(10, 10, 10, 1) asset-url('banner@2x.jpg') no-repeat;
      background-size: cover;

      @include media($large-screen) {
        border-radius: 20px 20px 0 0;
        height: 250px;
        background-position: center -110px;
        position: absolute;
        top: 72px;
        width: $max-width;
        margin-left: -16px;
        max-width: 100%;
      }

      p {
        display: none;
        color: #fff;
        @include media($large-screen) {
          display: block;
          padding-top: 4.75em;
          text-align: right;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        }
      }
    }
  }

  table {
    margin: 0;

    td {
      border-top: 1px solid rgba(204, 204, 204, 0.4);
      border-bottom: none;
      @include media($medium-screen) {
        font-size: 25px;
        line-height: 28px;
      }
    }

    td:first-child {
      width: 30%;
      font-weight: 700;
      opacity: 0.5;
    }
  }

  #bandcamp {
    width: 100%;
    height: 250px;
  }

  #youtube {
    height: 250px;

    @include media($medium-screen) {
      height: 300px;
    }
  }

  .more {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 0;
  }
}
