body.home-index {
  h1 {
    display: none;
  }

  .latest {
    font-size: 80%;
    padding-right: 16px;
    @include media($medium-screen) {
      float: left;
      width: 300px;
    }
  }

  .taped {
    font-size: 80%;
    @include media($medium-screen) {
      float: right;
      width: 300px;
    }

    iframe {
      width: 100% !important;
      max-height: 250px !important;
    }
  }
}

body.home-show {
  #wrapper {
    max-width: $max-width;
  }

  header.hero {
    @include media($large-screen) {
    }
  }

  h2 {
    text-transform: lowercase;
    margin-bottom: 0.75em;
    font-weight: 700;

    @include media($medium-screen) {
      font-size: 35px;
    }
  }

  article {
    @include outer-container;

    @include media($medium-screen) {
      section.left {
        @include span-columns(5);
      }

      section.right {
        @include span-columns(7);
        @include omega();
      }
    }
  }

  table {
    margin: 0;

    td {
      border-top: 1px solid rgba(204, 204, 204, 0.4);
      border-bottom: none;
      @include media($medium-screen) {
        font-size: 25px;
        line-height: 28px;
      }
    }

    td:first-child {
      width: 30%;
      font-weight: 700;
      opacity: 0.5;
    }
  }

  #bandcamp {
    width: 100%;
    height: 250px;
  }

  #youtube {
    height: 300px;

    @include media($medium-screen) {
      height: 400px;
    }
  }

  .more {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 0;
  }
}
