body.home-index {
  h1 {
    display: none;
  }

  article {
    @include outer-container;

    @include media($medium-screen) {
      .latest {
        @include span-columns(7);
      }

      .taped {
        @include span-columns(5);
        @include omega();
      }
    }
  }

  .taped {
    iframe {
      width: 100% !important;
      max-height: 400px !important;
    }
  }

  .featured {
    background: rgba(224, 216, 25, 0.1);
  }
}


body.home-show {
  #wrapper {
    max-width: $max-width;
  }

  header.navigation {
    .logo {
      @include media($large-screen) {
        display: none;
      }
    }

    .navigation-wrapper {
      padding-bottom: 0;
    }
  }

  $heroheight: 350px;
  header.hero {
    padding: 1px 16px 16px 16px;
    background: rgba(10, 10, 10, 1) asset-url('banner6@2x.jpg') no-repeat;
    background-size: auto;

    @include media($large-screen) {
      height: $heroheight;
      background-position: center top;
      position: absolute;
      top: 76px;
      width: $max-width;
      margin-left: -16px;
      max-width: 100%;
      background-size: cover;
    }

    h1 {
      background: asset-url("biglogo@2x.png") no-repeat center left;
      text-indent: -9999px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0;
      opacity: 0.5;

      background-size: contain;
      min-height: 75px;

      @include media($medium-screen) {
        background-size: contain;
      }
    }

    p {
      display: none;
      color: #fff;
      @include media($large-screen) {
        display: block;
        padding-top: $heroheight - 125px;
        text-align: right;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
      }
    }
  }

  h2 {
    text-transform: lowercase;
    margin-bottom: 0.75em;
    font-weight: 700;

    @include media($medium-screen) {
      font-size: 35px;
    }
  }

  article {
    @include outer-container;

    @include media($large-screen) {
      padding-top: $heroheight - 15px;
    }

    @include media($medium-screen) {
      section.left {
        @include span-columns(5);
      }

      section.right {
        @include span-columns(7);
        @include omega();
      }
    }
  }

  .bit-track-artist-header, .bit-header-narrow, .bit-bottom, .bit-rsvp, .bit-upcoming-events-show-all-button, .bit-nav-bar {
    display: none !important;
  }

  .bit-buy-tix {
    font-size: 16px;
  }

  table {
    margin: 0;

    a {
      font-family: $sans-serif !important;
    }

    td {
      border-top: 1px solid rgba(204, 204, 204, 0.4);
      border-bottom: none;
      @include media($medium-screen) {
        font-size: 23px;
        line-height: 24px;
        height: 83px;
      }
    }

    td:first-child {
      width: 30%;
      font-weight: 700;
      opacity: 0.5;
    }
  }

  #tour {
    clear: both;
  }

  #news, #listen {
    h2 {
      margin-top: 0.75em;
      @include media($large-screen) {
        margin-top: 0;
      }
    }
    p {
      margin-bottom: 1em;
    }
  }

  .bandcamp {
    width: 100%;
    min-height: 275px;
  }

  #youtube {
    height: 300px;

    @include media($medium-screen) {
      height: 415px;
    }
  }

  .more {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 0;
  }
}

form.search-big {
  @include outer-container;

  background: $search-background;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  .query {
    background: transparent asset-url('search-icon.png') no-repeat;
    background-size: 15px;
    background-position: 10px center;
  }

  .lyric {
    font-style: italic;
    padding: 8px 10px 8px 0;
    text-align: right;
    display: none;

    a {
      font-family: $sans-serif;
      color: $white;
      font-size: 70%;
    }
  }

  @include media($medium-screen) {
    .query {
      @include span-columns(5);
    }

    .lyric {
      @include span-columns(7);
      @include omega();
    }
  }

  input[type='search'] {
    background: transparent;
    width: 300px;
    font-family: $sans-serif;
    color: $white;
    margin: 0 auto 0 25px;
    text-align: left;
    border: none;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: $white;
    }
  }

  input[type='submit'] {
    display: none;
  }
}

.photo-credit {
  text-align: center;
  clear: both;
  padding-top: 30px;
  font-size: 70%;
}
