.articles {
  hr {
    margin: 3em auto 3em auto;
    width: 10em !important;
  }
}

.news {
  margin: 0 10%;

  ul {
    list-style: disc inside;
    margin-bottom: 1.5em;
  }

  iframe {
    display: block;
    margin: 0 auto 1.5em auto;
    width: 100%;
    height: 175px;

    @include media($medium-screen) {
      width: 560px;
      height: 315px;
    }
  }
}
