.pages {
  $highlight-background: rgba(250, 105, 0, 0.05);

  a, a:hover {
    color: $link-color;
  }

  section {
    > ul {
      margin-bottom: 2em;
    }

    #mc_embed_signup {
      text-align: center;
      background: $highlight-background;
      clear:left;
      font:14px Helvetica,Arial,sans-serif;

      p {
        padding-right: 16px;
      }

      .mc-field-group {
        padding-bottom: 0;
      }
    }

    aside {
      padding: 20px;
      background: $highlight-background;
      border-radius: 20px;
      border-radius: 20px;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 20px;

      h2 {
        margin-top: 0;
      }
    }
  }

  #bios {
    h2 {
      margin-bottom: 1em;
    }

    h3 {
      margin: 0;
      float: left;
      padding-left: 165px;
    }

    p {
      padding-top: 30px;
      padding-left: 165px;
      margin-bottom: 2em;
      background-repeat: no-repeat;
      background-size: 150px;
    }

    #mike {
      background-image: asset-url("photos/mike.png");
    }

    #dave {
      background-image: asset-url("photos/dave.png");
    }

    #evan {
      background-image: asset-url("photos/evan.png");
    }

    #ryan {
      background-image: asset-url("photos/ryan.png");
    }
  }

  #music {
    text-align: center;
    iframe {
      margin-bottom: 1em;
      width: 75%;
      height: 300px;
      margin: 0 auto;
    }
  }

  #contact {
    text-align: center;
  }
}
