sup {
  position: relative;
  bottom: 1em;
  left: 0.25em;
  font-size: 0.5em;
  font-weight: normal;
}

p.notes {
  sup {
    left: 0;
  }

  .note {
    font-weight: normal;
    display: inline-block;
    text-transform: none !important;
    font-size: 0.9em;
  }
}

h3.highlight {
  padding: 2px;
  display: inline-block;
  border-radius: 3px;
}

p.setlist {
  line-height: 1.75em;
  margin-bottom: 0.75em !important;

  em {
    font-weight: normal;
    padding: 3px;
    background-color: #F5F9FA;
    border-radius: 3px;
    @include transition(background-color 0.5s ease-in-out);

    &:hover {
      background-color: #EDF2F7;
    }
  }

}

p.unknown {
  font-style: italic;
}

p.pager {
  a {
    margin-bottom: 5px;
    display: inline-block;
  }

  a#next_show {
    float: right;
  }
}

#show_banner {
  header {
    height: 200px;
    margin-bottom: 1.5em;
    color: #ddd;
    padding: 60px 20px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    background-position: center;

    h2 {
      font-size: 30px;
      font-weight: 900;
    }

    h3 {
      font-size: 20px;
    }

    a {
      color: #fff;
    }
  }

  footer {
    h3 {
      text-align: center;
    }
  }
}
