.spark {
  display: none;

  @include media ($large-screen) {
    display: inline;
    float: right;
    opacity: 0.3;
  }
}

#sparkline {
  display: none;
}

.highlight {
  background-color: lighten(#ff9900, 30) !important;
}

a.cover, a.cover:visited {
  color: #769999 !important;
  font-style: italic;
  &:hover {
    color: #596D74 !important;
  }
}

body.lyrics-index {
  #lyrics {
    text-align: center;

    h3 {
      font-size: 1.5em;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
    }

    em {
      font-style: italic;
      font-weight: normal;
    }

    .info {
      font-size: 0.8em;
    }

    article {
      clear: both;
      @include outer-container;

      @include media($medium-screen) {
        section.left {
          @include span-columns(6);
        }

        section.right {
          @include span-columns(6);
          @include omega();
        }
      }
    }
  }
}

body.songs-show {
  article {
    @include outer-container;

    @include media($medium-screen) {
      .latest {
        @include span-columns(5);

        h3:not(.type) {
          margin-bottom: 7px;
        }
      }

      .info {
        @include span-columns(7);
        @include omega();
      }
    }
  }

  #songs {
    a {
      display: none;
    }

    .spark {
      float: none;
      text-align: center;
      display: block;
    }
  }
}
