.spark {
  display: none;

  @include media ($large-screen) {
    display: inline;
    float: right;
    opacity: 0.3;
  }
}

#sparkline {
  display: none;
}

.highlight {
  background-color: lighten(#ff9900, 30) !important;
}

a.cover, a.cover:visited {
  color: #769999 !important;
  font-style: italic;
  &:hover {
    color: #596D74 !important;
  }
}

body.songs-show {
  article {
    @include outer-container;

    @include media($medium-screen) {
      .latest {
        @include span-columns(5);
      }

      .info {
        @include span-columns(7);
        @include omega();
      }
    }
  }
}
