.tour {
  small {
    display: block;
    font-size: 75%;
  }

}

// http://css-tricks.com/responsive-data-tables/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-minimal tbody tr:first-child td {
    border-width: 1px;
  }

  td:first-child, td:first-child:hover {
    background: $base-border-color;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
