// Refill type system

article.type-system-sans {
  $sans-serif: 'PT Sans', sans-serif;
  $sans-serif-2: 'Titillium Web', sans-serif;

  @include clearfix;
  text-align: left;

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif-2;
    font-size: .8em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $sans-serif-2;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: .6em;

    @include media($medium-screen) {
      font-size: 2.4em;
    }
  }

  h2 {
    font-family: $sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: .2em;

    @include media($medium-screen) {
      font-size: 1.4em;
    }
  }

  h3 {
    font-family: $sans-serif-2;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4em;
    margin-bottom: 1.5em;
  }

  p.date {
    color: transparentize($base-font-color, .6);
    font-family: $sans-serif;
    font-size: .8em;
    margin-bottom: .5em;
  }

  p {
    font-family: $sans-serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em;

    span {
      font-family: $sans-serif;
      font-weight: 600;
      font-size: .8em;
      text-transform: uppercase;
    }

    em {
      font-weight: 600;
    }
  }

  hr {
    width: 3em;
  }

  a.read-more {
    display: inline-block;
    font-family: $sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative;

    span {
      position: absolute;
      font-size: 1.7em;
      top: -2px;
      right: -10px;
    }
  }

  p.author {
    font-family: $sans-serif;
    font-style: italic;
  }
}

.footer {
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-line-height*2 $gutter;
  width: 100%;

  .footer-logo {
    text-align: center;
    margin-bottom: 2em;

    img {
      height: 3em;
    }
  } 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;

    a, a:visited {
      color: #fff;
    }
  }
}
