@import "reset";

@import "bourbon";
@import "bitters/bitters";
@import "bitters/flashes";
@import "neat";

@import "type";
@import "buttons";
@import "grid";
@import "table";

@import "footer";
@import "form";
@import "home";
@import "navigation";
@import "pages";
@import "shows";
@import "songs";
@import "tour";

body {
  background: asset-url("waves.png") repeat;
  font-family: 'Oxygen', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#wrapper {
  max-width: 635px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background: rgba(255, 255, 255, 0.8);

  @include media($large-screen) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

a, a:visited {
  color: #3B8686;
  &:hover {
    color: #3B8686;
    text-decoration: underline;
  }
}
