@import "globals";
@import "reset";

@import "bourbon";
@import "bitters/bitters";
@import "bitters/flashes";
@import "neat";

@import "type";
@import "buttons";
@import "grid";
@import "table";

@import "footer";
@import "form";
@import "home";
@import "navigation";
@import "pages";
@import "news";
@import "shows";
@import "songs";
@import "tour";

body {
  background: #EDF1F6 asset-url("skulls.png") repeat;
  font-family: 'Oxygen', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#wrapper {
  max-width: $max-width;
  min-height: 340px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background: $white;
}

p, h2, h3, table {
  a, a:visited {
    color: $link-color;
    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
  }
}
