@import "reset";

@import "bourbon";
@import "bitters/bitters";
@import "bitters/flashes";
@import "neat";

@import "type";
@import "hero";
@import "navigation";
@import "form";
@import "shows";
@import "songs";
@import "buttons";

#wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.type {
  margin-top: 1em;
}

nav {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em !important;
}

pre {
  background-color: #ccc;
  font-family: "Monaco", "Courier New", monospace;
  padding: 10px;
}

.highlight {
  background-color: lighten(#ff9900, 30) !important;
}

a.cover, a.cover:visited {
  color: #769999;
  font-style: italic;
  &:hover {
    color: #596D74;
  }
}
