@import "globals";
@import "reset";

@import "bourbon";
@import "bitters/bitters";
@import "bitters/flashes";
@import "neat";
@import "footer";

$background-color: #c0cdc5;
$text-color: #483E2B;
$max-width: 75em;
$header-font-family: 'Playfair Display';
$font-family: 'Neutra Display Alt', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@font-face {
  font-family: $header-font-family;
  src: asset-url('PlayfairDisplay-Bold.eot');
  src: asset-url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
       asset-url('PlayfairDisplay-Bold.woff') format('woff'),
       asset-url('PlayfairDisplay-Bold.ttf') format('truetype');
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: 'Neutra Display Alt';
  src: asset-url('NeutraDisp-LightAlt.eot');
  src: asset-url('NeutraDisp-LightAlt.eot?#iefix') format('embedded-opentype'),
       asset-url('NeutraDisp-LightAlt.woff') format('woff'),
       asset-url('NeutraDisp-LightAlt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


body {
  background: $background-color asset-url("cork-wallet.png") repeat;
  font-family: $font-family;
}

#wrapper {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background: transparent;
  color: $text-color;
}

body.pages-show article {
  max-width: $max-width;
}

h1, h2, h3 {
  text-align: left;
}

h1 {
  font-family: 'Playfair Display';
  font-size: 6em;
  letter-spacing: -6px;
  font-weight: bold;
  margin-bottom: 0;
  color: #747470;
  line-height: 0.9em;
  text-align: center;

  @include media($large-screen) {
    text-align: left;
  }
}

#root {
  text-decoration: none;
}

h2 {
  font-family: 'Neutra Display Alt';
  width: 100%;
  font-size: 3em;
  color: #444342;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

  @include media($large-screen) {
    text-align: left;
    margin-bottom: 0.8em;
  }
}

h3 {
  margin-top: 2em;
  font-size: 4em;
}

h5 {
  margin-top: 1em;
  font-size: 1.5em;
  border-bottom: 1px dashed #ccc;
}

dl {
  margin-top: 1em;
  dt {
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
    font-size: 175%;
    text-align: center;

    @include media($large-screen) {
      font-size: 200%;
      text-align: left;
    }

    a, a:visited {
      font-weight: normal;
      background: asset-url("play.png") right no-repeat;
      background-size: contain;
      padding-right: 40px;
      color: $white;
      @include filter(sepia(100%) brightness(0.3) opacity(95%));
      @include transition (all 0.2s ease-in-out);

      &[data-status=pause] {
        background-image: asset-url("pause.png");
      }

      &:hover {
        @include filter(sepia(100%) brightness(0) opacity(95%));
        border: none;
      }
    }
  }

  dd {
    margin-bottom: 2em;
    text-align: center;

    @include media($large-screen) {
      text-align: left;
    }
    a {
      font-size: 18px;
    }
  }

  dt#song1 {
    background: asset-url("waveforms/randomcompany.png") no-repeat;
    background-size: contain;
    background-position: center center;

    @include media($large-screen) {
      background-position: left center;
    }
  }
}

p {
  font-size: 1.6em;
  text-align: left;
  @include media($large-screen) {
    width: 50%;
  }
}

small {
  font-style: italic;
}

#mediaplayer {
  display: none;
}

article {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;

  $link-color: darken(#72B195, 15);

  a, a:visited {
    color: $link-color;
    &:hover {
      color: $link-color;
      text-decoration: none;
    }

    &#download {
      font-weight: bold;
      text-decoration: none;
    }

    &[data-behavior~=download] {
      background: asset-url("download.png") no-repeat;
      background-size: contain;
      padding-left: 20px;
    }
  }

  @include outer-container;
}

footer {
  @include media($large-screen) {
    p, ul, aside, #mc_embed_signup {
      text-align: left;
    }

    p a {
      background-position: left center;
    }

    ul li {
      padding-left: 0;
    }
  }

  input[type="email"], input, label {
    font-family: $font-family;
  }

  aside {
    font-size: 14px;
  }
}

p#buy {
  text-align: center;
  @include media($large-screen) {
    text-align: left;
  }

  a {
    font-family: $header-font-family;
    @include button(simple, #a88a3f);
    font-size: 30px;
    padding: 20px;
  }
}

a#home {
  font-size: 26px;
  @include media($large-screen) {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
  }
}

a#dogs {
  background: asset-url("dogs.png") no-repeat center center;
  background-size: contain;
  text-indent: -9999px;

  width: 80%;
  min-height: 250px;
  display: block;
  margin: 0 auto 0.8em auto;

  @include media($large-screen) {
    position: fixed;
    bottom: -75px;
    z-index: -1;
    width: 600px;
    height: 600px;
    right: 0;
  }

  &:hover {
    border: none;
  }
}
