@import "globals";
@import "reset";
@import "bourbon";
@import "bitters/bitters";
@import "bitters/flashes";
@import "neat";
@import "footer";

$background-color: #c0cdc5;
$text-color: #483E2B;
$header-font-family: 'Playfair Display';

$best-max-width: 75em;
$best-font-family: 'Neutra Display Alt', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$element-max-width: 75em;
$element-background-color: #1B1B3C;
$element-text-color: #ffffff;
$element-header-color: darken(#ffffff, 5%);

$colorwheel-max-width: 50em;
$colorwheel-background-color: #1b1b1b;
$colorwheel-text-color: #ffffff;
$colorwheel-header-color: darken(#ffffff, 5%);
$colorwheel-link-color: #d4a852;
$colorwheel-font-family: "Raleway";

/* via https://codepen.io/nohoid/pen/kIfto */
@include keyframes(rainbow) {
  $red: #ff2400;
  $orange: #e81d1d;
  $tan: #e8b71d;
  $yellow: #e3e81d;
  $green: #1de840;
  $aqua: #1ddde8;
  $blue: #2b1de8;
  $purple: #dd00f3;
  0% {
    background: radial-gradient(200px, $red, $orange, $tan, $yellow, $green, $aqua, $blue, $purple);
  }

  12.5% {
    background: radial-gradient(200px, $orange, $tan, $yellow, $green, $aqua, $blue, $purple, $red);
  }

  25% {
    background: radial-gradient(200px, $tan, $yellow, $green, $aqua, $blue, $purple, $red, $orange);
  }

  37.5% {
    background: radial-gradient(200px, $yellow, $green, $aqua, $blue, $purple, $red, $orange, $tan);
  }

  50% {
    background: radial-gradient(200px, $green, $aqua, $blue, $purple, $red, $orange, $tan, $yellow);
  }

  62.5% {
    background: radial-gradient(200px, $aqua, $blue, $purple, $red, $orange, $tan, $yellow, $green);
  }

  75% {
    background: radial-gradient(200px, $blue, $purple, $red, $orange, $tan, $yellow, $green, $aqua);
  }

  87.5% {
    background: radial-gradient(200px, $purple, $red, $orange, $tan, $yellow, $green, $aqua, $blue);
  }

  100% {
    background: radial-gradient(200px, $red, $orange, $tan, $yellow, $green, $aqua, $blue, $purple);
  }
}

@font-face {
  font-family: $header-font-family;
  src: asset-url('PlayfairDisplay-Bold.eot');
  src: asset-url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
       asset-url('PlayfairDisplay-Bold.woff') format('woff'),
       asset-url('PlayfairDisplay-Bold.ttf') format('truetype');
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: 'Neutra Display Alt';
  src: asset-url('NeutraDisp-LightAlt.eot');
  src: asset-url('NeutraDisp-LightAlt.eot?#iefix') format('embedded-opentype'),
       asset-url('NeutraDisp-LightAlt.woff') format('woff'),
       asset-url('NeutraDisp-LightAlt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body.pages--colorwheel {
  background: $colorwheel-background-color;
  font-family: $colorwheel-font-family;
  color: $colorwheel-text-color;

  h1 {
    font-family: $colorwheel-font-family;
    text-align: center;
    font-weight: 400 !important;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 50px;
    @include media($large-screen) {
      line-height: 40px;
    }
  }

  h2 {
    margin-top: 1em;
    margin-bottom: 0;
    text-align: center;
    font-family: $colorwheel-font-family;
    font-weight: 900 !important;
    font-size: 38px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  h3 {
    font-family: $colorwheel-font-family;
    clear: both;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 5px;
    span {
      font-weight: 900;
      font-style: italic;
      letter-spacing: 5px;
    }
  }

  .vinyl {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    a {
      font-family: $colorwheel-font-family;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 900;
      text-align: center;

      letter-spacing: 5px;
      padding: 15px;
      background: $colorwheel-link-color;
      color: #fff !important;
      &:hover {
        background: radial-gradient(200px, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
        @include animation(rainbow 1s ease-in-out infinite reverse);
      }
    }
  }

  h1, h2, h3, h4, h5 {
    color: $colorwheel-header-color;
  }

  p, li {
    color: $colorwheel-text-color;
  }

  p > a, footer a, a#home {
    color: $colorwheel-link-color !important;
  }

  footer {
    p {
      width: 100%;

      a {
        background: asset-url("logo_white.png") no-repeat center;
        background-size: contain;
        opacity: 0.8;
      }
    }

    ul, aside {
      text-align: center !important;
    }

    ul li a:hover {
      text-decoration: underline;
      border-bottom: none;
    }
  }

  ol {
    list-style: decimal;
    margin-left: 20%;
    @include media($medium-screen) {
      margin-left: 39%;
    }
    @include media($large-screen) {
      margin-left: 3em;
      margin-top: 5em;
    }

    li {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    small {
      font-style: normal;
      font-size: 70%;
    }
  }

  #wrapper {
    max-width: $colorwheel-max-width;
  }

  .quote {
    text-align: justify;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
  }

  #mc_embed_signup {
    display: none;
  }
}

body.pages--bestinshow {
  background: $background-color asset-url("cork-wallet.png") repeat;
  font-family: $best-font-family;

  article {
    max-width: $best-max-width;
  }

  a#home {
    font-size: 26px;
  }

  #wrapper {
    max-width: $best-max-width;
  }
}

body.pages--element_pt1 {
  background: $element-background-color asset-url("cork-wallet.png") repeat;
  font-family: $best-font-family;
  color: $element-text-color;

  article {
    max-width: $element-max-width;
  }

  footer p a {
    display: none;
  }

  p > a, footer a, a#home {
    color: lighten(#4C8A67, 30%) !important;
  }

  a#home {
    font-size: 26px;
  }

  p, label {
    color: $element-text-color !important;
  }

  h1 {
    font-family: Helvetica;
    color: #fff !important;
  }

  h2 {
    color: #fff !important;
  }

  h1, h2, h3, h4, h5 {
    color: $element-header-color;
  }

  p#buy a {
    @include button(simple, #2eb29e);
    font-size: 30px;
    padding: 20px;
    color: #fff !important;
  }

  #wrapper {
    max-width: $element-max-width;
  }
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background: transparent;
  color: $text-color;
}

h1, h2, h3 {
  text-align: left;
}


#root {
  text-decoration: none;
}

body.pages--bestinshow,
body.pages--element_pt1 {
  h1 {
    font-family: 'Playfair Display';
    font-size: 6em;
    letter-spacing: -6px;
    font-weight: bold;
    margin-bottom: 0;
    color: #747470;
    line-height: 0.9em;
    text-align: center;

    @include media($large-screen) {
      text-align: left;
    }
  }

  h2 {
    font-family: 'Neutra Display Alt';
    width: 100%;
    font-size: 3em;
    color: #444342;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    @include media($large-screen) {
      text-align: left;
      margin-bottom: 0.8em;
    }
  }

  h3 {
    margin-top: 2em;
    font-size: 4em;
  }

  h5 {
    margin-top: 1em;
    font-size: 1.5em;
    border-bottom: 1px dashed #ccc;
  }

  dl {
    margin-top: 1em;
    dt {
      padding-top: 1em;
      padding-bottom: 1em;
      overflow: hidden;
      font-size: 175%;
      text-align: center;

      @include media($large-screen) {
        font-size: 200%;
        text-align: left;
      }

      a, a:visited {
        font-weight: normal;
        background: asset-url("play.png") right no-repeat;
        background-size: contain;
        padding-right: 40px;
        color: $white;
        @include filter(sepia(100%) brightness(0.3) opacity(95%));
        @include transition (all 0.2s ease-in-out);

        &[data-status=pause] {
          background-image: asset-url("pause.png");
        }

        &:hover {
          @include filter(sepia(100%) brightness(0) opacity(95%));
          border: none;
        }
      }
    }

    dd {
      margin-bottom: 2em;
      text-align: center;

      @include media($large-screen) {
        text-align: left;
      }
      a {
        font-size: 18px;
      }
    }

    dt#song1 {
      background: asset-url("waveforms/randomcompany.png") no-repeat;
      background-size: contain;
      background-position: center center;

      @include media($large-screen) {
        background-position: left center;
      }
    }
  }

  p {
    font-size: 1.6em;
    text-align: left;
    @include media($large-screen) {
      width: 50%;
    }
  }

  small {
    font-style: italic;
  }

  #mediaplayer {
    display: none;
  }
}

article {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;

  $link-color: darken(#72B195, 15);

  a, a:visited {
    color: $link-color;
    &:hover {
      color: $link-color;
      text-decoration: none;
    }

    &#download {
      font-weight: bold;
      text-decoration: none;
    }

    &[data-behavior~=download] {
      background: asset-url("download.png") no-repeat;
      background-size: contain;
      padding-left: 20px;
    }
  }

  @include outer-container;
}

footer {
  @include media($large-screen) {
    p, ul, aside, #mc_embed_signup {
      text-align: left;
    }

    p a {
      background-position: left center;
    }

    ul li {
      padding-left: 0;
    }
  }

  ul li a {
    font-weight: normal;
  }

  input[type="email"], input, label {
    font-size: 18px;
    font-weight: normal;
    font-family: $best-font-family;
  }

  aside {
    font-size: 14px;
  }
}

p#buy {
  text-align: center;
  @include media($large-screen) {
    text-align: left;
  }

  a {
    font-family: $header-font-family;
    @include button(simple, #a88a3f);
    font-size: 30px;
    padding: 20px;
  }
}

a#home {
  @include media($large-screen) {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
  }
}

a#element_pt1 {
  background: asset-url("element_pt1.jpg") no-repeat center center;
  background-size: contain;
  text-indent: -9999px;

  width: 80%;
  min-height: 250px;
  display: block;
  margin: 0 auto 0.8em auto;

  @include media($large-screen) {
    position: fixed;
    bottom: -15px;
    z-index: -1;
    width: 600px;
    height: 600px;
    right: 0;
  }

  &:hover {
    border: none;
  }
}

a#dogs {
  background: asset-url("dogs.png") no-repeat center center;
  background-size: contain;
  text-indent: -9999px;

  width: 80%;
  min-height: 250px;
  display: block;
  margin: 0 auto 0.8em auto;

  @include media($large-screen) {
    position: fixed;
    bottom: -75px;
    z-index: -1;
    width: 600px;
    height: 600px;
    right: 0;
  }

  &:hover {
    border: none;
  }
}

a#colorwheel {
  background: asset-url("colorwheel.jpg") no-repeat center center;
  background-size: contain;
  text-indent: -9999px;

  width: 80%;
  min-height: 250px;
  display: block;
  margin: 0 auto 0.8em auto;

  @include media($large-screen) {
    float: right;
    width: 400px;
    height: 400px;
  }

  &:hover {
    border: none;
  }
}
