@import "reset";

@import "bourbon";
@import "bitters/bitters";
@import "bitters/flashes";
@import "neat";

@import "navigation";

body {
  -webkit-animation: pulse 80s infinite alternate;
  background-color: #FFFFFF;
}

canvas {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

// http://www.colourlovers.com/palette/759664/r.a.d.i.o.h.e.a.d.!
@-webkit-keyframes pulse {
  0%   {background-color: #FFFFFF;}
  20%  {background-color: transparentize(#96E3DB, 0.9);}
  40%  {background-color: transparentize(#FCE446, 0.9);}
  60%  {background-color: transparentize(#C4674D, 0.9);}
  80%  {background-color: transparentize(#3439C9, 0.9);}
  100% {background-color: transparentize(#32A62E, 0.9);}
}

#wrapper {
  max-width: 635px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

header.navigation {
  ul li.nav-link {
    font-weight: 900;
    text-transform: lowercase;
  }

  ul li:first-child {
    display: none;
  }

  @include media($large-screen) {
    background-color: transparent;
    border: none;

    .nav {
      float: none;
    }

    ul#navigation-menu {
      display: inline-block;
      text-align: center;
    }

    ul li:first-child {
      display: inline-block;
    }

    .logo {
      display: none;
    }

    ul li.nav-link {
      display: inline-block;
      padding: 0 20px;

      a {
        display: block;
        padding: 0;
        font-size: 19px;
        color: #000;

        &:hover {
          color: #666;
        }
      }
    }
  }
}

article {
  header p {
    text-align: right;
    @include media($medium-screen) {
      margin-bottom: 1.75em;
    }
  }

  table {
    td {
      border-bottom: 1px solid rgba(204, 204, 204, 0.3);
      @include media($medium-screen) {
        font-size: 25px;
      }
    }

    td:first-child {
      width: 30%;
      font-weight: 900;
    }
  }
}

footer {
  img {
    height: 50px;
    opacity: 0.1;
    margin: 2em auto;
    text-align: center;
    display: block;
  }

  ul {
    text-align: center;

    li {
      text-transform: lowercase;
      font-size: 14px;
      padding: 9px;
      display: inline-block;
      opacity: 0.8;

      a, a:hover {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}

#bandcamp {
  height: 500px;

  @include media($medium-screen) {
    height: 936px;
  }
}

#youtube {
  height: 250px;

  @include media($medium-screen) {
    height: 476px;
  }
}

h1 {
  background: asset-url("biglogo.png") no-repeat 50% 50%;
  text-indent: -9999px;
  width: 100%;
  margin-top: 0.75em;

  background-size: contain;
  min-height: 75px;

  @include media($medium-screen) {
    background-size: contain;
    height: 125px;
  }
}

h2 {
  text-transform: lowercase;
  margin-top: 0.75em;
  margin-bottom: 0.75em;

  @include media($medium-screen) {
    font-size: 35px;
  }
}
