@import "reset";

@import "bourbon";
@import "bitters/bitters";
@import "bitters/flashes";
@import "neat";

@import "type";
@import "navigation";

@import "home";
@import "pages";
@import "footer";

body {
  @include animation(pulse 80s infinite alternate);
  background-color: #FFFFFF;
  font-family: 'Oxygen', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

// http://www.colourlovers.com/palette/759664/r.a.d.i.o.h.e.a.d.!
@include keyframes(pulse) {
  0%   {background-color: #FFFFFF;}
  20%  {background-color: transparentize(#96E3DB, 0.9);}
  40%  {background-color: transparentize(#FCE446, 0.9);}
  60%  {background-color: transparentize(#C4674D, 0.9);}
  80%  {background-color: transparentize(#3439C9, 0.9);}
  100% {background-color: transparentize(#32A62E, 0.9);}
}

#wrapper {
  max-width: 635px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}
