@import "globals";
@import "reset";

@import "bourbon";
@import "bitters/bitters";
@import "bitters/flashes";
@import "neat";
@import "footer";

// http://www.colourlovers.com/palette/1867884/Chinese_Menu

$background-color: rgba(211, 186, 132, 0.1);
$text-color: #483E2B;

body {
  background: $background-color asset-url("groovepaper.png") repeat;
  font-family: 'Oxygen', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#wrapper {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background: $background-color;
  color: $text-color;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  @include filter(sepia(100%) brightness(0.3) opacity(95%));
  background: asset-url("biglogo_white@2x.png") no-repeat 50% 50%;
  background-size: contain;
  text-indent: -9999px;
  width: 100%;
  margin-top: 0.5em;
  height: 3em;

  @include media($large-screen) {
    height: 5em;
  }
}

h2, h3, h5 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

h3 {
  font-size: 4em;
}

h5 {
  margin-top: 1em;
  font-size: 1.5em;
  border-bottom: 1px dashed #ccc;
}

dl {
  margin-top: 1em;
  font-family: 'Raleway', sans-serif;

  dt {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 200%;
    overflow: hidden;

    a, a:visited {
      background: asset-url("play.png") right no-repeat;
      background-size: contain;
      padding-right: 40px;
      color: $white;
      @include filter(sepia(100%) brightness(0.3) opacity(95%));
      @include transition (all 0.2s ease-in-out);

      &[data-status=pause] {
        background-image: asset-url("pause.png");
      }

      &:hover {
        @include filter(sepia(100%) brightness(0) opacity(95%));
        text-decoration: none;
      }
    }
  }

  dd {
    margin-bottom: 2em;
  }

  @for $i from 1 through 10 {
    dt#song#{$i} {
      background: asset-url("waveforms/song#{$i}.png") no-repeat;
      background-size: contain;
      background-position: left center;
    }
  }
}

p {
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

small {
  font-style: italic;
  font-size: 80%;
}

#mediaplayer {
  display: none;
}

article {
  margin-top: 2em;
  margin-bottom: 2em;

  $link-color: darken(#72B195, 15);

  a, a:visited {
    color: $link-color;
    &:hover {
      color: $link-color;
      text-decoration: underline;
    }

    &#download {
      font-weight: bold;
      text-decoration: underline;
    }

    &[data-behavior~=download] {
      background: asset-url("download.png") no-repeat;
      background-size: contain;
      padding-left: 20px;
    }
  }

  @include outer-container;

  @include media($medium-screen) {
    #studio {
      @include span-columns(6);
    }

    #live {
      @include span-columns(6);
      @include omega();
    }
  }
}

footer {
  font-size: 75%;
}
