<article class="type-system-sans">
  <% @shows.each do |show| %>
    <h3><%= show.performed_at %></h3>
    <p><%= show.venue.name %></p>

    <% show.setlists.each do |setlist| %>
      <p>
        <%= setlist.name %>:
        <% setlist.slots.each do |slot| %>
          <%= slot.song.name %> &gt;
        <% end %>
      </p>
    <% end %>
  <% end %>
</article>
