<article class="type-system-sans">
  <p class="type">Add new show</p>

  <%= form_for @show do |f| %>
    <%= render "form", form: f %>

    <%= f.submit %>
  <% end %>

  <p class="type">Example setlist:</p>
  <pre>
    SET I
    Breathe &gt;
    Dave's Song 
    Rock Montage $ &gt;
    Voodoo Chile 
    Mosquito Valley 
    Short Skirt, Long Jacket *
    Triangle 

    SET II
    Dear Prudence &gt;
    Glass Onion &gt;
    While My Guitar Gently Weeps 
    Echoes 
    Bennie and the Jets 
    Mind Games

    ENCORE
    YYZ $$

    * First time played 
    $ Bullet tease 
    $$ Enter Sandman tease
  </pre>
</article>
