<% @title = "Setlist from #{@show.when}" %>

<% if admin? %>
  <p>
    <%= link_to "Edit this show.", [:edit, @show] %>
  </p>
<% end %>

<%= render @show %>

<p class="pager">
  <%= link_to "← #{@show.previous_show.when}", @show.previous_show if @show.previous_show %>
  <%= link_to "#{@show.next_show.when} →", @show.next_show, id: "next_show" if @show.next_show %>
</p>
