<footer class="footer">
  <div class="footer-logo">
    <%= image_tag "logo.png" %>
  </div>

  <hr>

  <p>A <a href="https://github.com/qrush/skyway">tiny project</a> from <a href="https://twitter.com/qrush">@qrush</a>. Curated by <a href="https://twitter.com/unclephilsblog">@unclephilsblog</a>.<br />All content &copy; 2006-2014 <a href="http://aqueousband.com">Aqueous</a>.</p>
</footer>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5357b558e32bb44d6e000325');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
