<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo"></a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <%= nav_menu %>
      </ul>
    </div>
  </div>
</header>
